<div class="uk-margin uk-width-2xlarge uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-marge">
  <form class="uk-form-stacked uk-text-left" action="/uploadfile" method="POST" enctype="multipart/form-data">
    <div class="uk-width-1-2@m">
      <label class="uk-form-label" for="form-stacked-text">Select Image</label>
      <div class="uk-form-controls">
        <input type="file" class="uk-input" name="imagefile" accept="image/png, image/jpeg">
      </div>
    </div>
    <p uk-margin>
      <input type="submit" value="Upload" class="uk-button uk-button-default">
    </p>
  </form>
</div>