<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
  {{> title-card title="POI Application" subTitle="Please Sign up or Log in"}}
  {{> welcome-menu }}
</div>

<div class="uk-container uk-margin">
  <div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
    <div class="uk-width-auto@m">
      <img width="300" src="images/POI2.jpg" />
    </div>
    <div class="uk-width-expand@m">
      <h1 class="uk-heading-small">Keep Track Of Your Points Of Interest</h1>
      <br>Points Of Interest are map points (GPS coordinates + descriptions) that you find interesting and want to store. </br>
        <p>The venue of a business meeting, a travel destination, car park, etc - any place can be saved as POI and shared with others.</p>
      {{> error }}
    </div>
  </div>
</div>
